/**
This css handles layout-related stuff.
*/
.menu-item .label {
    -fx-text-fill: cyan;
}
.outline.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}
.menu-item:focused {
     -fx-background-color: cyan;
	 -fx-text-fill: #2e2e2e
}

.menu-item:focused .label {
    -fx-text-fill: #2e2e2e;
;
}

.textfield{
	-fx-text-fill: cyan;
	
}


.check-box .box {

-fx-background-color: #2e2e2e;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: cyan;

}

.check-box:selected .box {

-fx-background-color: #2e2e2e;
}
/**
.list-cell{
-fx-background-color:#424242;
 -fx-text-fill:white;
}
*/

.list-cell:filled{
 -fx-border-width: 0.1;
 -fx-border-color: black;
-fx-background-color:#424242;
-fx-font-weight: bold;
-fx-text-stroke-width: 2px;
-fx-text-stroke-color: black;
 -fx-text-fill: white;
 
}
.list-cell{
	-fx-background-color:#2e2e2e;
}

.list-cell:filled:selected, .list-cell:filled:selected:focused{
	-fx-border-color: cyan;
	-fx-border-width: 1;
	-fx-background-color:#2e2e2e;
	-fx-text-fill: cyan;

}
.context-menu {
    -fx-background-color: #424242;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
